:root {
  --bg-color: #beffc7;
  --secondary-bg: #f2f2f2;

  --yellow: #f1e06a;

  font-size: 1em;
  
  /*Every Layout*/
  --ratio: 1.5;
  --s-7: calc(var(--s-6) / var(--ratio));
  --s-6: calc(var(--s-5) / var(--ratio));
  --s-5: calc(var(--s-4) / var(--ratio));
  --s-4: calc(var(--s-3) / var(--ratio));
  --s-3: calc(var(--s-2) / var(--ratio));
  --s-2: calc(var(--s-1) / var(--ratio));
  --s-1: calc(var(--s0) / var(--ratio));
  --s0: 1rem;
  --s1: calc(var(--s0) * var(--ratio));
  --s2: calc(var(--s1) * var(--ratio));
  --s3: calc(var(--s2) * var(--ratio));
  --s4: calc(var(--s3) * var(--ratio));
  --s5: calc(var(--s4) * var(--ratio));
  --line-height: var(--ratio);
}

* {
  box-sizing: border-box;
}

body {
  background-color: var(--bg-color);
  font-family: 'Karla', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Rubik', sans-serif;
}

button {
  cursor: pointer;
}

.container {
  max-width: 1140px;
  margin-right: auto;
  margin-left: auto;
  padding-right: var(--s1);
  padding-left: var(--s1);
}

.w-50 {
  width: 50%;
}

.text-center {
  text-align: center;
}

/**/
#app-holder {
  display: flex;
  justify-content: center;
  height: 100vh;
  flex-direction: column;
}

#dashboard {
  background-color: var(--secondary-bg);
  height: 500px;
  display: flex;
  padding: var(--s1);
  border-radius: var(--s0);
}

#menu {
  padding-left: var(--s1);
  padding-right: var(--s1);
  border-right: 2px solid black;
  width: 15%;

  text-align: center;
}

.menu-button {
  margin-bottom: .5rem;
}

#pages {
  padding-left: var(--s1);
  padding-right: var(--s1);
  border-left: 2px solid black;
  width: 90%;
  display: flex;
  flex-direction: column;
}
